.wrapper {
  display: grid;
  /* grid-template-columns: 15% 200px 1fr; */
  /* grid-template-columns: repeat(3, 200px) 30%; */
    /*quatro colunas */
  grid-template-columns: minmax(300px, 500px) 200px 200px;
  /* grid-template-rows: 100px 100px; */
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /* shorhand => grid-gap: */
  grid-auto-rows: 200px;  
  /* para as rows que não foram definidas, declaração implícita  */ 
  /* se for igual ao template-rows podemos tirar estes */
  align-items: start; /* stretch é o default */
   /* ou start ou end */
  /* repare que no nosso exemplo é a div que vai expandir, ou começar no inicio ou no fim */
  justify-items: start;
}

.wrapper>div {
    background-color: royalblue;
    font-size: 3rem;
    padding: 1rem;
  }

.wrapper>div:nth-child(even) {
  background-color: yellow;
}