/* @media (min-width: 48em) { SE QUISER USAR RESPONSIVIDADE */  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 colunas de 1fr */
    grid-auto-rows: 200px;
    grid-gap: 0.5rem;
    height: 100vh;
    grid-template-areas: 
      "header header header header"
      "main   main   main   aside"
      "footer footer footer footer"
    ;
    /* Se quiser deixar algum espaço em branco use  . ,  só nas extremidades */
  }
/* } */

.wrapper>* {
  background-color: royalblue;
  font-size: 3rem;
  padding: 1rem;
}

.wrapper>*:nth-child(even) {
  background-color: yellow;
}

/* ABAIXO USAREMOS OS ELEMENTOS, MAS PODERIA SER EM CLASSES

.l-header {
  grid-area: header 
}
*/

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}